<aside class="controls">
  <div class="navigate navigate-left"
    ng-click="controls.left()"
    ng-class="controls.getClassForDirection('left')"
    ></div>
  <div class="navigate navigate-right"
       ng-click="controls.right()"
       ng-class="controls.getClassForDirection('right')"
    ></div>
  <div class="navigate navigate-up"
       ng-click="controls.up()"
       ng-class="controls.getClassForDirection('up')"
    ></div>
  <div class="navigate navigate-down"
       ng-click="controls.down()"
       ng-class="controls.getClassForDirection('down')"
    ></div>
</aside>
